
* { margin: 0; padding: 0; border: 0; font-size: 100%; } 

h1 {
    color:#ffb6ce;
    text-align: center;
}

#backgroundphoto-id {
    background-image: url(../images/goodmorning.jpg);
}

#background {
    background-image: url(../images/goodmorning.jpg);
}

a {color: rgb(235, 184, 16);}

#my-id {color:rgb(235, 184, 16); 
    }

.my-class {font-family: 'Oi', cursive;
    font-size: 4.5em;
    text-align: center;
    letter-spacing: -1px;
    color: white;}

.moreheadspace {
    padding-top: 35px;
    padding-bottom: 30px;
}

.headerfont {font-family: 'Oi', cursive;
        font-size: 2.5em;
        text-align: center;
        letter-spacing: 1px;
        color: white;}


.gofont {font-family: 'Oi', cursive;
            font-size: 1.5em;
            text-align: center;
            letter-spacing: 1px;
            color: white;
            padding-top: 10px;
            padding-bottom: 10px ;
        }

.gofonti {font-family: 'Oi', cursive;
            font-size: 1.5em;
            text-align: center;
            letter-spacing: 1px;
            color: white;
            padding-top: 20px;
            padding-bottom: 20px ;
        }


.my-container {border: 3px solid rgb(28, 230, 230);
               background-color:rgb(127, 236, 255);
               margin: 0 80px 0 80px;
}

.footer {background-color:#27eac9;
         padding-top: 40px;
         padding-bottom: 40px;
} 

.card {
    margin: 10px 80px 10px 80px;
}

.form-group {
    margin: 10px 80px 10px 80px; 
}

.whatisamüppi {
    background-color: #27eac9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toppadding {
    padding-top: 20px;
}

h4 {
    text-align: center;
    margin-top: 10px;
}

.müppiloves {
    background-color: #c20e09;
    color:#3f7953; 
}

.müppiworks {
    background-color: #ff9851;
    color: #67c5ff;
}

.müppitalks {
    background-color:#31faa9 ;
    color: #f3598a;
}

h2 {
    text-align: center;
    color: #c20e09;
    margin-top: 15px;
}

.btnstyle {
    background-color:#67c5ff ;
    color: #ff9851;

}

.centi {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
}